<a href="https://colab.research.google.com/github/MNasirSheikh/ISYS5002-2023-Semester1/blob/main/05_2_paycalc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
def user_input():
  """
  This function prompts the user to enter their name, salary, sales, and commission rate and returns these inputs as a tuple.

  Inputs:                             #Note: these information written in red are the infromation for the user that it know what's this codes is all about. so it's not a input but an exlpanation 
  None                                 # of what the function is doing.

  Returns:
  name: a string representing the user's name
  salary: an integer representing the user's salary
  sales: an integer representing the user's sales
  comm_rate: a float representing the user's commission rate
  """

  # get user input - name
  name = input("Please enter name: ")

  # get user input for salary
  salary = int(input("Please enter salary: "))

  # get user input for sales
  sales = int(input("Please enter sales: "))

  # get user input for commission
  comm_rate = float(input("Please enter commission rate: "))

  return name, salary, sales, comm_rate

In [7]:
def calculate_pay(salary, sales, comm):
  """
  This function calculates the commission, tax, and pay for a given salary, sales, and commission rate.

  Inputs:
  salary: an integer representing the user's salary
  sales: an integer representing the user's sales
  comm: a float representing the user's commission rate
  
  Returns:
  commission: a float representing the commission earned based on the sales and commission rate
  tax: a float representing the tax amount calculated based on the salary and commission earned
  pay: a float representing the pay after deducting tax from the salary and adding the commission earned
  """

  # calculate the commision
  commission = (comm/100) * sales

  # calculate the tax
  tax = calculate_tax((salary + commission))

  # calculate the pay
  pay = salary + commission - tax

  #print(commission, tax, pay)
  return commission, tax, pay

In [8]:
def calculate_tax(income):
  if income <= 18200:
    tax_payable = 0
  elif 18201 <= income <= 45000:
    tax_payable = 0.19 * (income - 18200)
  elif 45001 <= income <= 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120001 <= income <= 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  else:
    tax_payable = 51667 + 0.45 * (income - 180000)

  return tax_payable

In [9]:
def print_payslip(name, salary, comm_result, tax_result, pay_result):
  """
  This function takes in the name, salary, commission, tax, and pay results as inputs and prints out a nicely formatted payslip for the user.

  Inputs:
  name: a string representing the user's name
  salary: an integer representing the user's salary
  comm_result: a float representing the commission earned
  tax_result: a float representing the tax amount calculated based on the salary and commission earned
  pay_result: a float representing the pay after deducting tax from the salary and adding the commission earned
  
  Outputs:
  prints the payslip stream, or to sys.stdout
  """

  # print out the payslip nicely formatted
  print(f'\n=== Payslip of {name} ===')
  print(f"Salary: {salary:9} \nCommission: {comm_result:2} \nTax: {tax_result:13} \nTotal pay: {pay_result:8}")

In [14]:
8# 1-Nasir Practise Code.

name, salary, sales, comm_rate = user_input()

Please enter name:  Nasir
Please enter salary: 80000
Please enter sales: 50000
Please enter commission rate: 0.05

In [15]:
# 2-Nasir Practise Code.

print(f"Name: {name}\nSalary: {salary}\nSales:{sales}\nCommssion_rate:{comm_rate}")

Name:  Nasir
Salary: 80000
Sales:50000
Commssion_rate:0.05

In [19]:
# 3-Nasir's Practise Code:
commissionR, taxR, payR = calculate_pay(salary, sales, comm_rate)

In [20]:
# 4-Nasir's Practise Code.
print_payslip(name, salary, commissionR, taxR, payR)

=== Payslip of  Nasir  ===
Salary:     80000
Commission: 25.0
Tax:       16300.0
Total pay:  63725.0

In [21]:
# 5- Nasir's Practise Code (All together)
name, salary, sales, comm_rate = user_input()
commissionR, taxR, payR = calculate_pay(salary, sales, comm_rate)
print_payslip(name, salary, commissionR, taxR, payR)

Please enter name:  Nasir
Please enter salary: 60000
Please enter sales: 300000
Please enter commission rate: 0.06

=== Payslip of  Nasir ===
Salary:     60000
Commission: 179.99999999999997
Tax:        9949.6
Total pay:  50230.4

In [1]:
import random
help(random.choice)

Help on method choice in module random:

choice(seq) method of random.Random instance
    Choose a random element from a non-empty sequence.